* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    background-image: url('../static/WEB_STUFF/pexels-jessbaileydesign-743986.jpg');
    background-size: contain;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    background-image: url('../static/WEB_STUFF/pexels-pixabay-301717.jpg');
    background-size: contain;
}

h1 {
    color: #333;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

#result {
    display: none;
}

#sketchImage {
    max-width: 100%;
    border-radius: 10px;
}
